[Desktop Entry]
Encoding=UTF-8
Name=Link to Machine Learning | Udacity
Type=Link
URL=https://www.udacity.com/course/machine-learning--ud262
Icon=text-html
