[Desktop Entry]
Encoding=UTF-8
Name=Link to OpenAI - Scholar
Type=Link
URL=https://jobs.lever.co/openai/2153959a-77bf-443e-bc07-e36da36c98ce/apply
Icon=text-html
