[Desktop Entry]
Encoding=UTF-8
Name=Link to Practical Machine Learning Tutorial with Python Intro p.1 - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=OGxgnH8y2NM&list=PLQVvvaa0QuDfKTOs3Keq_kaG2P55YRn5v
Icon=text-html
