[Desktop Entry]
Encoding=UTF-8
Name=Link to Predicting house prices on Kaggle: a gentle introduction to data science – Part I – akquinet AG – Blog
Type=Link
URL=https://blog.akquinet.de/2017/09/19/predicting-house-prices-on-kaggle-part-i/
Icon=text-html
