[Desktop Entry]
Encoding=UTF-8
Name=Link to Siraj Raval - YouTube - YouTube
Type=Link
URL=https://www.youtube.com/channel/UCWN3xxRkmTPmbKwht9FuE5A/playlists
Icon=text-html
