[Desktop Entry]
Encoding=UTF-8
Name=Link to Human-based computation - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Human-based_computation
Icon=text-html
