[Desktop Entry]
Encoding=UTF-8
Name=Link to 40 Real Estate APIs: Zillow, Trulia, Walk Score | ProgrammableWeb
Type=Link
URL=https://www.programmableweb.com/news/40-real-estate-apis-zillow-trulia-walk-score/2012/02/15
Icon=text-html
