[Desktop Entry]
Encoding=UTF-8
Name=Link to A Beginner’s Guide to AI/ML 🤖👶 – Machine Learning for Humans – Medium
Type=Link
URL=https://medium.com/machine-learning-for-humans/why-machine-learning-matters-6164faf1df12
Icon=text-html
