[Desktop Entry]
Encoding=UTF-8
Name=Link to A new view of gentrification – Harvard Gazette
Type=Link
URL=https://news.harvard.edu/gazette/story/2014/08/a-new-view-of-gentrification/
Icon=text-html
