[Desktop Entry]
Encoding=UTF-8
Name=Link to AI In Real Estate: 10 Companies To Watch In 2017 - DisruptorDaily
Type=Link
URL=https://www.disruptordaily.com/ai-real-estate-10-companies-watch-2017/
Icon=text-html
