[Desktop Entry]
Encoding=UTF-8
Name=Link to AI is changing how real estate professionals do business | VentureBeat
Type=Link
URL=https://venturebeat.com/2017/09/19/ai-is-changing-how-real-estate-professionals-do-business/
Icon=text-html
