[Desktop Entry]
Encoding=UTF-8
Name=Link to Pinboard: bookmarks for pskomoroch tagged 'dataset'
Type=Link
URL=http://pinboard.in/u:pskomoroch/t:dataset/
Icon=text-html
