[Desktop Entry]
Encoding=UTF-8
Name=Link to Predicting gentrification through social networking data -- ScienceDaily
Type=Link
URL=https://www.sciencedaily.com/releases/2016/04/160412211132.htm
Icon=text-html
