[Desktop Entry]
Encoding=UTF-8
Name=Link to Real Estate Tech | AI Real Estate | Virtual Reality Listings
Type=Link
URL=https://therealdeal.com/issues_articles/real-estates-tech-disruptors/
Icon=text-html
