[Desktop Entry]
Encoding=UTF-8
Name=Link to Selecting the Best Computer Vision & Image Recognition API
Type=Link
URL=https://www.topbots.com/chihuahua-muffin-searching-best-computer-vision-api/
Icon=text-html
