[Desktop Entry]
Encoding=UTF-8
Name=Link to The Best Machine Learning Resources – Machine Learning for Humans – Medium
Type=Link
URL=https://medium.com/machine-learning-for-humans/how-to-learn-machine-learning-24d53bb64aa1
Icon=text-html
